<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 400px;
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>url</th>
    <th>name</th>
    <th>auther</th>
    <th>img</th>
  </tr>
  <% data.map((da, index)=>{ %>
    <tr>
        <td><%= da.url %></td>
        <td><%= da.name%></td>
        <td><%= da.auther%></td>
        <td><%= da.img%></td>
      </tr>
  <% }) %>
  
</table>

</body>
</html>

