<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add song</h1>
    <form action="/postsong/actionpostsong", method="POST">
        <p>input url</p>
        <input type="text" name="inputurl">
        <p>input name</p>
        <input type="text" name="inputname">
        <p>input auther</p>
        <input type="text" name="inputauther">
        <p>input img</p>
        <input type="text" name="inputimg">
        <button type="submit">submit</button>
    </form>
</body>
</html>